/* Dit is de css voor elke website */

/* Main stuk */
body,
html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  background: rgb(250, 250, 250);
  color: black;
  font-family: "Poppins", sans-serif;
}

/* Contact form container */
#contact-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  padding: 2px 20px 5px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

/* Show the form and overlay when active */
#contact-form.active,
#overlay.active {
  display: flex;
}

#header-contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#header-contact img {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#header-contact img:hover {
  transform: translateY(-2px);
}

.contact-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.contact {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: black;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}

#message {
  margin-bottom: 10px;
}

#contact-form label {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 500;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Dit is id voor de versie nummer rechts boven */
#version {
  text-align: end;
  padding-top: 5px;
  padding-right: 20px;
  color: blueviolet;
  margin: 0px;
  font-size: 20px;
  animation: Slideinleft 0.8s;
}

#version-kleur {
  color: blueviolet;
}

/* Dit is voor alle links */
a {
  text-decoration: none;
  color: black;
}

/* Dit is de id voor de introductie tekst */
#tekst {
  text-align: center;
}

/* Dit is de id voor software developer */
#tekst1 {
  font-size: 40px;
  color: black;
  margin-top: 5px;
}

/* Dit is zodat je niet de scrollbar ziet */
::-webkit-scrollbar {
  display: none;
}

/* Dit is de DIV voor de tekst in projecten */
.tekstervaring {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
}

/* Navbar */
#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  /* Adjust width as needed */
  height: 99%;
  /* Full height */
  z-index: 1000;
  /* Ensure it stays on top */
  animation: Slideinleft 1s;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

/* Hover effects */
#navbar a:hover,
.linkfoto:hover {
  transform: translateY(-2px);
}

/* Koptekst voor ervaring componenten */
#koptekst {
  margin: 0px;
  padding-top: 150px;
  text-align: center;
  font-size: 40px;
  animation: fade 2s;
}

/* Koptekst voor de home pagina */
#koptekst1 {
  padding-top: 250px;
  margin: 0px;
  text-align: center;
  font-size: 40px;
  animation: fade 2s;
}

/* Koptekst voor de projecten pagina */
#koptekst2 {
  padding-top: 40px;
  margin: 0px;
  text-align: center;
  font-size: 40px;
  animation: SlideinRight 1.2s;
}

/* Tekst dat uitlegt waar een project over gaat */
.tekstervaring {
  margin-top: 12px;
}

/* Tekst voor Strahinja Zoranovic die je op de start pagina ziet */
#stra {
  font-size: 80px;
  color: blueviolet;
  text-align: center;
}

/* Center div voor de startscherm */
#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: SlideinTop 1s;
}

/* Footer onderaan de pagina */
footer {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 18px;
  animation: bigger linear;
  animation-timeline: view();
  animation-range: entry 0;
}

/* Voor de icons op de start pagina */
.linkfoto {
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
  width: 100px;
  animation: scale 2s;
}

/* Div voor de icons op de homepage */
#introfotos {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

/* Titel voor de projecten */
.fototekst {
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  margin: 0px;
}

/* Uiteg tekst voor de projecten */
.fototekst1 {
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  margin: 10px;
}

/* ervaring images */
#ervaring img {
  max-width: 100%;
  height: auto;
}

/* Rounded images */
img {
  border-radius: 10px;
}

/* Hidden animation made with javascript */
.hidden {
  opacity: 0;
  filter: blur(8px);
  transition: all 1.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 50px;
  padding-left: 250px;
  padding-right: 250px;
}

/* Showed animation made with javascript */
.show {
  opacity: 1;
  filter: blur(0px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 50px;
  padding-left: 250px;
  padding-right: 250px;
}

/* Showed animation made with javascript for a different page*/
.show1 {
  opacity: 1;
  filter: blur(0px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 50px;
  padding-left: 400px;
  padding-right: 400px;
  animation: SlideinRight 1.2s;
}

/* Ervaring */
#ervaring {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 100px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

/* Copyright tekst in de footer */
#copyright {
  text-align: center;
}

/* Dit is de learnmore button die je ziet bij projecten die je doorstuurt naar de pagina die meer dingen uitlegt over de project */
.boton-elegante {
  padding: 15px 30px;
  margin-bottom: 5px;
  border: 2px solid #2c2c2c;
  background-color: black;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* Dit is de animatie die je ziet bij de button */
.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: (rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%);
  transform: scale(0);
  transition: transform 0.5s ease;
}

/* Dit is de hover effect voor de button */
.boton-elegante:hover::after {
  transform: scale(4);
}

/* Dit is de hover effect voor de button */
.boton-elegante:hover,
.contact:hover {
  border-color: #666666;
  background: #292929;
  transform: translateY(-2px);
}

/* Animations stuk*/

/* Dit is de animatie wanneer iets van boven komt */
@keyframes SlideinTop {
  from {
    transform: translateY(-1000px);
    filter: blur(10px);
  }

  to {
    filter: blur(0px);
    transform: translateY(0);
  }
}

/* Dit is de animatie wanneer iets van rechts komt */
@keyframes SlideinRight {
  from {
    transform: translateX(-2000px);
    filter: blur(10px);
  }

  to {
    filter: blur(0px);
    transform: translateX(0);
  }
}

/* Dit is de animatie wanneer iets van links komt */
@keyframes Slideinleft {
  from {
    scale: 72%;
    transform: translateX(-100px);
    filter: blur(10px);
  }

  to {
    scale: 100%;
    filter: blur(0px);
    transform: translateX(0);
  }
}

/* Dit is de animatie die iets rustig laat zien */
@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Dit is de animatie die iets grooter maakt*/
@keyframes scale {
  from {
    scale: 50%;
  }

  to {
    scale: 100%;
  }
}

/* Responsive design stuk*/

/* Dit is zodat componenten niet te klein worden op wat kleinere laptops */
@media (max-width: 1300px) {
  .hidden {
    padding-left: 200px;
    padding-right: 200px;
  }

  .show {
    padding-left: 200px;
    padding-right: 200px;
  }

  .show1 {
    padding-left: 200px;
    padding-right: 200px;
  }
}

/* Dit is zodat te font niet te groot wordt */
@media (max-width: 950px) {
  #stra {
    font-size: 50px;
  }

  #tekst1 {
    font-size: 25px;
  }

  #tekst {
    padding: 30px;
  }
}

/* Dit is voor de telefoon */
@media (max-width: 700px) {
  #stra {
    font-size: 32px;
  }

  #tekst1 {
    font-size: 16px;
  }

  #tekst {
    padding: 30px;
  }

  .linkfoto {
    margin: 0px;
    width: 60px;
    height: 60px;
  }

  #contact-form {
    width: 80%;
  }

  .contact {
    width: 90%;
  }

  #copyright {
    font-size: 16px;
  } 
}

/* Dit is voor tablets/kleine laptops */
@media (max-width: 1100px) {
  #navbar {
    display: none;
  }

  #koptekst {
    padding-top: 0px;
  }

  #koptekst1 {
    padding-top: 50px;
  }

  #introfotos {
    margin-top: 20px;
  }

  .hidden {
    padding-left: 40px;
    padding-right: 40px;
  }

  .show {
    padding-left: 40px;
    padding-right: 40px;
  }

  .show1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  #ervaring {
    padding: 10px;
  }

  #contact {
    font-size: 15px;
  }

  footer {
    padding: 0px;
    padding-bottom: 20px;
    margin-top: 100px;
  }
}