body {
  background: rgb(25, 25, 25);
  margin: 0px;
}

html {
  padding: 0px;
}

.tekst {
  width: 45%;
  padding-top: 100px;
  font-size: 30px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style-type: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: white;
  margin-top: 20px;

}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(30, 30, 30);
  width: 100%;
  height: 60px;
  border-bottom: 4px solid black;
}

#navbar a:hover {
  background-color: blueviolet;
  border-radius: 5px;
}

#koptekst {
  color: blueviolet;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  margin-left: 10px;
  font-size: 80px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.gallerij {
  border: 3px solid white;
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 20px;
}



.gallerij2 {
  display: flex;
  justify-content: space-around;
  width: 100%; 
  max-width: 500px;
  padding: 50px; 
}

.gallerij:hover{
  border: 3px solid rgb(138, 23, 226);
}

#stra {
  font-size: 50px;
  color: blueviolet;
}

#intro {
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
}

.alert {
  border: 4px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

form {
  height: 650px;
}

#foto1 {
  border: 3px solid white;
  width: 500px;
  height: 400px;
  border-radius: 15px;
}

#introductie {
  height: 800px;
}


footer {
  height: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  border-top: 4px solid black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-top: 450px;
}

.links {
  text-decoration: none;
  cursor: none;
  color: white;
}

.links2 {
  text-decoration: none;
  cursor: none;
  color: white;
}

#contact {
  
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content1 {
  height: 800px;
}

#koptekst1{
  margin: 0px;
  color: blueviolet;
  text-align: center;
  font-size: 80px;
  font-family: monospace;
}

.linkfoto{
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
  width: 100px;
}


#foto2{
  margin-top: 40px;
  display: flex;
  justify-content: start;
}

.fototekst{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

#ervaring img {
  max-width: 100%;
  height: auto;
}

img{
  border-radius: 10px;
}
#ervaring1 {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}


#ervaring {
  flex: 1 1 300px;  
  text-align: center;  
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


@media (max-width: 600px) {
  #ervaring1 {
    flex-direction: column; 
    align-items: center;  
  }

  
 #foto1{
    width: 90%;
 }

 .tekst{
  width: 90%;
  padding: 0px;
 }

 .linkfoto{
  margin: 15px;
 }
 #intro{
    margin-top: 75px;
    display: flex;
    flex-direction: column; 
    align-items: center;
 }

  #ervaring {
    width: 90%;  
    padding: 20px;
  }

  footer{
    margin-top: 150px;
  }

  .gallerij1 {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
}

.gallerij1 {
  display: flex;
  justify-content: space-around;

}

#jsfoto{
  border-radius: 500px;
}