body,
html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  background: rgb(60, 60, 60);
  font-family: "Poppins", sans-serif;
}

/* Dit is id voor de versie nummer rechts boven */
#version {
  text-align: end;
  padding-top: 5px;
  padding-right: 20px;
  color: white;
  margin: 0px;
  font-size: 20px;
  animation: Slideinleft 0.8s;
}

/* Dit is de id voor de introductie tekst */
#tekst {
  text-align: center;
}

/* Dit is de id voor software developer */
#tekst1 {
  font-size: 40px;
  color: white;
  margin-top: 5px;
}

/* Dit is zodat je niet de scrollbar ziet */
::-webkit-scrollbar {
  display: none;
}

/* Dit is de DIV voor de tekst in projecten */
.tekstervaring {
  border: 2px solid white;
  border-radius: 20px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

/* Navbar */
#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  /* Adjust width as needed */
  height: 100%;
  /* Full height */
  z-index: 1000;
  /* Ensure it stays on top */
  animation: Slideinleft 1s;
}

/* Hover effects */
#navbar a:hover,
.linkfoto:hover {
  transform: translateY(-2px);
}

/* Koptekst voor ervaring */
#koptekst {
  color: black;
  margin: 0px;
  padding-top: 150px;
  text-align: center;
  font-size: 40px;
  animation: fade 2s;
}

/* Koptekst voor de projecten */
#koptekst1 {
  color: black;
  padding-top: 250px;
  margin: 0px;
  text-align: center;
  font-size: 40px;
  animation: fade 2s;
}

/* Koptekst voor de projecten */
#koptekst2 {
  color: black;
  padding-top: 40px;
  margin: 0px;
  text-align: center;
  font-size: 40px;
  animation: SlideinRight 1.2s;
}

.tekstervaring {
  margin-top: 12px;
}

/* Tekst voor Strahinja Zoranovic */
#stra {
  font-size: 80px;
  color: black;
  text-align: center;
}

/* Div voor de startscherm */
#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: SlideinTop 1s;
}

/* Footer */
footer {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
  margin-top: 600px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: black;
  font-size: 18px;
  animation: bigger linear;
  animation-timeline: view();
  animation-range: entry 0;
}

/* Voor de icons op de homepage */
.linkfoto {
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
  width: 100px;
  animation: scale 2s;
}

/* Div voor de icons op de homepage */
#introfotos {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

/* Tekst voor de projecten */
.fototekst {
  text-align: center;
  font-size: 40px;
  color: white;
  text-decoration: none;
  margin: 5px
}

/* Tekst voor de projecten */
.fototekst1 {
  text-align: center;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 10px;
}


/* ervaring images */
#ervaring img {
  max-width: 100%;
  height: auto;
}

/* Rounded images */
img {
  border-radius: 8px;
}

/* Hidden animation made with javascript */
.hidden {
  opacity: 0;
  filter: blur(8px);
  transition: all 1.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 50px;
  padding-left: 300px;
  padding-right: 300px;
}

/* Showed animation made with javascript */
.show {
  opacity: 1;
  filter: blur(0px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 50px;
  padding-left: 300px;
  padding-right: 300px;
}

/* Showed animation made with javascript for a different page*/
.show1 {
  opacity: 1;
  filter: blur(0px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 50px;
  padding-left: 400px;
  padding-right: 400px;
  animation: SlideinRight 1.2s;
}

/* Ervaring */
#ervaring {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 100px;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

/* Copyright tekst in de footer */
#copyright {
  text-align: center;
}


/* Dit is de learnmore button */
.boton-elegante {
  padding: 15px 30px;
  margin-bottom: 20px;
  border: 2px solid #2c2c2c;
  background-color: black;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  width: 100%;
}


.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%);
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}

/* Property dat wordt gebruikt voor de gradient */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes SlideinTop {
  from {
    transform: translateY(-1000px);
    filter: blur(10px);
  }

  to {
    filter: blur(0px);
    transform: translateY(0);
  }
}

@keyframes SlideinRight {
  from {
    transform: translateX(-2000px);
    filter: blur(10px);
  }

  to {
    filter: blur(0px);
    transform: translateX(0);
  }
}

@keyframes Slideinleft {
  from {
    scale: 72%;
    transform: translateX(-100px);
    filter: blur(10px);
  }

  to {
    scale: 100%;
    filter: blur(0px);
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    scale: 50%;
  }

  to {
    scale: 100%;
  }
}

/* Responsive design */
@media (max-width: 900px) {
  .hidden {
    opacity: 1;
    transition: none;
    filter: blur(0px);
  }
}

@media (max-width: 1150px) {

  .show,
  .show1,
  .hidden {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
  }

  #navbar {
    width: 10%;
  }
}

@media (max-width: 800px) {

  .show,
  .show1,
  .hidden {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 600px) {
  #foto1 {
    width: 90%;
  }

  #koptekst {
    font-size: 60px;
  }

  #tekst {
    width: 90%;
    text-align: center;
  }

  #stra {
    font-size: 34px;
  }

  #tekst1 {
    font-size: 17px;
  }

  .linkfoto {
    margin: 2px;
    width: 60%;
  }

  .fototekst {
    font-size: 20px;
  }

  #version {
    font-size: 15px;
    padding-top: 1px;
    padding-right: 5px;
  }

  footer {
    padding-top: 150px;
    font-size: 12px;
    padding: 100px;
    display: flex;
    justify-content: center;
  }

  .taaljs,
  .taalcss,
  .taalhtml {
    font-size: 15px;
  }

  .tekstervaring {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
  }

  #ervaring {
    padding: 8px;
  }
}